{
  "env": {
    "production": {}
  },
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@model": "./src/app/model"
        }
      }
    ]
  ]
}
